// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica', sans-serif;
  background-color: rgb(245, 245, 245)
}

ol {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 20px;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
}

.input-text {
  font-size: 20px;
  padding: 5px;
  margin-top: 30px;
  width: 250px;
}

.input-button {
  // display: inline-block;
  // padding: 20px;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 5px 25px;
  border: 1px solid rgb(235, 235, 235);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
